[user]
	name = JP
	email = jpsala@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	filemode = false
[alias]
	ch = checkout
	su = status --untracked-files=no 
	s = status
[merge]
	tool = meld
[diff]
	guitool = meld
